{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" 
            content="width=device-width, 
            initial-scale=1.0, 
            user-scalable=no" />
        <title>Template Maker</title>
    </head>

    <!-- This is the HTML for the file drag/drop area -->
    <body>

        <form name="fileform" method="post">
            {% csrf_token %}
            {{ form }}
        </form>

        <div id="drag-drop-area"></div>
        <p>Click and drag to create template boxes. Press 'D' to delete selected box.</p>
        <button onclick="loadSourcePDF(document.getElementById('{{ form.url.auto_id }}').value)">Load File</button>
        <button onclick="saveTemplate()">Save Template</button>
        <button onclick="clearTemplate()">Clear Template</button><br>
        <div id="content"></div>
    </body>

    <!-- And the Javascript that handles file uploading. Uses the Uppy library. -->
    <link href="https://transloadit.edgly.net/releases/uppy/v1.8.0/uppy.min.css" rel="stylesheet">
    <script src="https://transloadit.edgly.net/releases/uppy/v1.8.0/uppy.min.js"></script>
    <script>
        var filename = "";
        var uppy = Uppy.Core()
            .use(Uppy.Dashboard, {
                inline: true,   
            target: '#drag-drop-area',
            width:400,
            height:200
            })
            .use(Uppy.Tus, {endpoint: 'https://master.tus.io/files/'})

        uppy.on('complete', (result) => {
            console.log('Upload complete! We’ve uploaded these files:', result.successful)
            filename = result.successful[0].tus.uploadUrl;
            loadSourcePDF(filename);
        })
    </script>
        
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.2.228/build/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.2/fabric.min.js"></script>
    <script src="{% static 'fcc_opif/download.js' %}"></script>
    <script>
        /*
            Canvas          the native DOM Canvas element that Javascript uses
            fabric.Canvas   the object that Fabric.js wraps around native
                            canvases to provide extra functionality
            Template        the combination of all the fabric.Canvases that show 
                            all the pages of the PDF
        */

        /* This program works by taking a PDF, rendering it pages onto native HTML5 
           canvases using PDF.js, converting the canvases to jpegs(base64 data URLs), and then 
           setting those jpegs as the background images of a collection of fabric.Canvases
           that can be drawn on.
        */

        //import the PDF.js library
        var pdfjsLib = window['pdfjs-dist/build/pdf'];
        
        //activeCanvas stores a reference to the fabric.Canvas that has the focus
        var activeCanvas = null;
        //canvases stores all canvases
        var canvases = [];
            
        //loadSourcePDF takes the URL of a PDF file and creates fabric.Canvas objects to display each page of the PDF
        function loadSourcePDF(url)
        {
            var loadingTask = pdfjsLib.getDocument(url);
            loadingTask.promise.then(function(pdf) {
                for(let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++)
                {
                    pdf.getPage(pageNumber).then(function(page) {
                                            
                        var scale = 1;
                        var viewport = page.getViewport({scale: scale});

                        // Prepare fabric.Canvas using PDF page dimensions
                        let canvas = prepareCanvas(pageNumber);
                        canvases.push(canvas);
                        
                        canvas.setHeight(viewport.height);
                        canvas.setWidth(viewport.width);
                        
                        let context = canvas.getContext('2d');
                        // Render PDF page into canvas context
                        var renderContext = {
                          canvasContext: context,
                          viewport: viewport
                        };
                        
                        var renderTask = page.render(renderContext);
                        
                        renderTask.promise.then(function () {
                            
                            //assigns the rendered PDF to the fabric.Canvas background
                            fabric.Image.fromURL(canvas.getElement().toDataURL('image/jpg'),function(img){
                                img.scaleToWidth(canvas.getWidth());
                                canvas.setBackgroundImage(img,function()
                                    {
                                        canvas.renderAll();
                                        
                                        //if this is the final page to be created, add key event listeners to all canvases
                                        if(canvas.pageNum == pdf.numPages)
                                        {
                                            var collection = document.getElementsByClassName('upper-canvas ');
                                            for (entry of collection){
                                                entry.tabIndex = 1000;
                                                entry.addEventListener("keydown", keyevents);
                                            };
                                        }
                                    });
                            });
                            page.cleanup();
                        });
                    },
                    function(error)
                    {
                        console.log(error);
                    });
                }
            },null);
        }
        
        //prepareCanvas creates and configures the fabric.Canvas object
        function prepareCanvas(x)
        {
        
            //create Canvas DOM element
            const canvas = document.createElement('canvas');
            canvas.setAttribute("id", "canvas-" + x.toString());
            canvas.setAttribute("crossorigin", "");        
            document.getElementById('content').appendChild(canvas);
             
            //create fabric.Canvas object around DOM canvas
            var f_canvas = new fabric.Canvas(canvas.getAttribute("id"),{uniScaleTransform:true});
            
            //overwrite fabric.Canvas._collectObjects() to add drag-to-create selection behavior
            f_canvas._collectObjects = function(){
                
                var left, top, width, height;
                if(f_canvas._groupSelector.left >= 0)
                {
                    left = f_canvas._groupSelector.ex;
                    width = f_canvas._groupSelector.left;
                }
                else
                {
                    left = f_canvas._groupSelector.ex  + f_canvas._groupSelector.left;
                    width = Math.abs(f_canvas._groupSelector.left);
                }
                if(f_canvas._groupSelector.top >= 0)
                {
                    top = f_canvas._groupSelector.ey;
                    height = f_canvas._groupSelector.top;
                }
                else
                {
                    top = f_canvas._groupSelector.ey  + f_canvas._groupSelector.top;
                    height = Math.abs(f_canvas._groupSelector.top);
                }
                
                
                var selection_rect = new fabric.Rect({
                    left: left,
                    top: top,
                    width: width,
                    height: height,
                    stroke: "red",
                    strokeWidth: 2,
                    fill: 'rgba(0,0,0,0)',
                    strokeUniform: true,
                    noScaleCache: false,
                    hasRotatingPoint: false,
                    cornerSize: 8,
                    transparentCorners: false,
                    backgroundColor:'rgba(200,200,200,0.8)'
                });
                
                //this changes the label box's vertical position relative to the selection box
                selection_rect.input_offset = -27;
                
                var selection_text = new fabric.Textbox("Label",{
                    left: left,
                    top: top+selection_rect.input_offset,
                    width: width,
                    fill:'red',
                    fontSize:25,
                    fontWeight:'bold',
                    fontFamily:'Calibri',
                    borderColor:'rgb(0,0,0)',
                    backgroundColor:'rgba(200,200,200,0.8)',
                    lockMovementX:true,
                    lockMovementY:true,
                    hasControls:false
                });
                
                var originalRender = fabric.Textbox.prototype._render;
                selection_text._render = function(ctx) {
                    originalRender.call(selection_text, ctx);
                    //Don't draw border if it is active(selected/ editing mode)
                 
                    var w = selection_text.width,
                      h = selection_text.height,
                      x = -selection_text.width / 2,
                      y = -selection_text.height / 2;
                    ctx.beginPath();
                    ctx.moveTo(x, y);
                    ctx.lineTo(x + w, y);
                    ctx.lineTo(x + w, y + h);
                    ctx.lineTo(x, y + h);
                    ctx.lineTo(x, y);
                    ctx.closePath();
                    var stroke = ctx.strokeStyle;
                    ctx.strokeStyle = 'red';
                    ctx.stroke();
                    //ctx.strokeStyle = stroke;
                  
                }
                
                
                selection_rect.inputbox = selection_text;
                selection_text.selector = selection_rect;
                            
                f_canvas.add(selection_rect);
                f_canvas.add(selection_text);
                
                f_canvas.sendBackwards(selection_text);
                f_canvas.setActiveObject(selection_rect);
                f_canvas.renderAll();
                return [];
            };
            
            f_canvas.pageNum = x;
            f_canvas.localX = 0;
            f_canvas.localY = 0;
            
            f_canvas.renderOnAddRemove = false;
            
            f_canvas.on('object:moving', function(options){
                var target = options.target;
                target.inputbox.setOptions({
                    left: target.left,
                    top: target.top+target.input_offset
                });
                target.inputbox.setCoords();
            });
            f_canvas.on('object:scaling', function(options){
                var target = options.target;
                target.inputbox.setOptions({
                    left: target.left,
                    top: target.top+target.input_offset
                });
                console.log(target.inputbox.left);
                console.log(target.inputbox.width);
                target.setCoords();
                target.inputbox.setCoords();
                f_canvas.renderAll();
            });
            f_canvas.on('selection:created', function(){}); //?
            f_canvas.on('mouse:over', function(options){
                activeCanvas = f_canvas;
            });

            f_canvas.on('mouse:move', function(options){
                f_canvas.localX = options.e.offsetX;
                f_canvas.localY = options.e.offsetY;
            });
            
            return f_canvas;
        }    
        
        //handles keypresses for the current active canvas
        function keyevents(e)
        {
            if(activeCanvas == null){return;}
            
            //'A' pressed, add a template box at cursor. DISABLED
            if(e.keyCode == 65)
            {
                return;
            
                var selection_rect = new fabric.Rect({
                  left: activeCanvas.localX,
                  top: activeCanvas.localY,
                  width: 50,
                  height: 50,
                  stroke: "red",
                  strokeWidth: 2,
                  fill: 'rgba(0,0,0,0)',
                  strokeUniform: true,
                  noScaleCache: false,
                  hasRotatingPoint: false,
                  cornerSize: 8,
                  transparentCorners: false,
                  backgroundColor:'rgba(255,255,255,0.8)'
                });
                activeCanvas.add(selection_rect); 
                activeCanvas.setActiveObject(selection_rect); 
                activeCanvas.renderAll();
            }
            
            //'D' pressed, delete active box
            if(e.keyCode == 68)
            {
                if(activeCanvas.getActiveObject() == null){return;}
                if(activeCanvas.getActiveObject().inputbox != null){
                    activeCanvas.remove(activeCanvas.getActiveObject().inputbox);
                    activeCanvas.remove(activeCanvas.getActiveObject());
                }else{
                    activeCanvas.remove(activeCanvas.getActiveObject().selector);
                    activeCanvas.remove(activeCanvas.getActiveObject());
                }
                activeCanvas.renderAll();
            }
        }
        
        //saveTemplate saves the JSON representation of the fabric.Canvases
        //this JSON can be used to reload the entire fabric.Canvas setup in the future
        function saveTemplate()
        {
            var template = new Object;
            template.file_id = "{{ file_id }}";
            template.pages = []
            canvases.forEach(function(entry){
                entry.getObjects().forEach(function(obj){
                    if(obj.type == 'rect')
                    {
                        obj.label = obj.inputbox.text;
                        obj.pctLeft = obj.left / entry.width;
                        obj.pctTop = obj.top / entry.height;
                        obj.pctWidth = obj.width / entry.width;
                        obj.pctHeight = obj.height / entry.height;
                    }
                });
                delete entry.backgroundImage;
                template.pages.push(entry.toJSON(['label','pctLeft','pctTop','pctWidth','pctHeight']));

            });

            document.getElementById("{{ form.boxes.auto_id }}").value = JSON.stringify(template,null,2), "{% get_media_prefix %}/{{ file_id }}.json", "text/plain";
            document.forms.fileform.submit();
            console.log(document.getElementById("{{ form.boxes.auto_id }}").value);
        }
        
        //clearTemplate wipes all selection boxes from all the fabric.Canvases
        function clearTemplate()
        {
            canvases.forEach(function(entry){
                entry.getObjects().forEach(function(item){
                    entry.remove(item);
                });
                entry.renderAll();
            }); 
        }
        loadSourcePDF("{{ file_url }}");
    </script>
</html>